.btn-lightseagreen {
    background-color: lightseagreen !important;
    border-color: lightseagreen !important;
    color: white !important;
}

/* Shrink button while pressed */
.btn-lightseagreen:active {
  transform: scale(0.95);
  transition: transform 0.15s ease;
}

.input-group {
  padding: 0.5rem 0;
}